.user-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Manrope', sans-serif;

}

.user-heading h2{
    font-size: 18px;
}
.user-heading p{
    margin-top: -10px;
    font-size: 15px;
    color: rgb(66, 66, 66);
} 

.row{
    height: 70px;
    width: 500px;
    background-color: black;
}