*{
    margin: 0;
    padding: 0;
}

.sidenav{
    margin: 20px;
    height: 100vh;
    width: 10%;
    background-color: red;
}

@media screen and (max-width: 480px) {
    .sidenav{
        width: 15%;
    }
  }